@import '../../theme/variables.scss';

page-time-registration {
  .week-number-wrapper {
    background-color: $secondary;
    color: $light;
    padding: 10px;
  }

  .day-header {
    background-color: $secondary;
    color: $light;
    padding: 10px;
    text-transform: capitalize;
    font-size: 8pt;
    border-right: 1px solid $dark;

    &:last-child {
      border-right: 1px transparent
    }
  }

  .time-reg {
    border: 1px solid $gray;
    font-size: 70%;

    .time-reg-input {
      border: 1px solid $gray;
    }
  }
}
