<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-buttons start>
      <button ion-button icon-only>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->

    <ion-title>{{
      isCurrentUserAdmin ? "Werknemers Overzicht" : "Mijn Overzicht"
    }}</ion-title>

    <ion-buttons end>
      <button *ngIf="isCurrentUserAdmin" ion-button icon-only (click)="showAdminProfile()">
        <ion-icon name="contact"></ion-icon>
      </button>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Admin Template -->
  <ng-container *ngIf="isCurrentUserAdmin">
    <ion-list>
      <ng-container *ngFor="let user of userProfiles">
        <ng-container *ngIf="user.role !== 'admin'">
          <button ion-item (click)="userSelected(user)">
            <strong>{{ user.name }}</strong> / {{ user.address }}
          </button>
        </ng-container>
      </ng-container>
    </ion-list>
  </ng-container>
  <!-- User Template -->
  <ng-container *ngIf="!isCurrentUserAdmin">
    <ion-card *ngIf="ownUserProfile" padding>
      <ion-card-title>{{ ownUserProfile.name }}</ion-card-title>
      <ion-card-content>
        <address>
          <p>{{ ownUserProfile.address }}</p>
          <p>{{ ownUserProfile.zipcode }} {{ ownUserProfile.city }}</p>
          <p>
            <ion-icon name="call"></ion-icon> {{ ownUserProfile.phoneNumber }}
          </p>
        </address>
      </ion-card-content>
    </ion-card>
    <ion-list padding>
      <button ion-item (click)="toTimeRegistraion()" color="primary">
        Tijd Registratie
      </button>
    </ion-list>
  </ng-container>
</ion-content>